body {
  background-color: white;
  width:100%;
}

p{
  color: black;
  text-align: left;
  font-family: trattatello;
  font-size: 20px;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 20px;
  font-family: cursive; 
}
  
h2{
  color: red;
  text-align: center;
  font-family: snell; 
}
  
.centralizar{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

P.blocktext {
    text-align: center;
}